// override vars for theming here
$font-stack: Inconsolata, monospace;           
$background: #002B3B;
$light-background: #1B2B3B;
$text-color: #B0B0B0;      
$primary-color: #3B0B;
$secondary-color: #FBF;
$form-background-color: #1B2B3B;
$form-text-color: #B0B0B0;
$nav-button-background-color: #1B2B3B;
$nav-button-text-color: #B0B0B0;
$muted-color: #BAB; // solarized comment text
$primary-button-text-color: #BBB;
$code-highlight-background: #1B2B3B;

#header {
  padding: 20px;
  background-image: url("/static/banner.jpg");
}

#header>div {
  background-color: rgba(0,0,0,0.8);
  padding: 0 20px;
  margin: 0 -20px;
}

#header>div>div#profile-props>dl {
    margin: 0;
}

nav ul button {
  line-height: revert;
}

#admin .admin-menu {
    height: 40px;
}
  
#admin nav.flexbox {
  position: fixed;
  opacity: 100%;
  background: $background;
}

#notifications div.ap-object nav ul * {
  padding: 2px 0;
  line-height: normal;
  font-size: 16px;
}